@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
}
<script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var name = new LiveValidation("name");
        name.add(Validate.Presence, { failureMessage: "" });
        var email = new LiveValidation("email");
        email.add(Validate.Presence, { failureMessage: "" });
        email.add(Validate.Email);
        var title = new LiveValidation("title");
        title.add(Validate.Presence, { failureMessage: "" });
        var message = new LiveValidation("message");
        message.add(Validate.Presence, { failureMessage: "" });
        $("#submitBooking").click(function () {
            var frm = $('#contactform');
            if (LiveValidation.massValidate([name, email, title, message])) {
                $("#loading").show();
                $("#submitBooking").hide();
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        alert(data);
                        $('#contactform')[0].reset();
                        $("#loading").hide();
                        $("#submitBooking").show();
                    }
                });
            }
        });
    });
</script>
<div class="in-booking">
    <div class="in-booking-1">
        <div class="in-booking-2">
            <div class="booking">
                <div class="tett">
                            
                    <div class="clearfix">&nbsp;</div>
                    <div id="leftbox" style="width: 50%; float: left">
                        <form id="contactform" action="@Url.Action("Contact")" method="post" name="FormName" target="_parent">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td valign="top">
                                            <table class="text_3" align="center" border="0" cellpadding="0" cellspacing="2" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td width="28%"></td>
                                                        <td width="2%">&nbsp;</td>
                                                        <td width="70%" style="color: white">Nội dung (<font color="#FF0000">*</font>) không được bỏ trống!</td>
                                                    </tr>
                                                    <tr valign="top">
                                                        <td width="28%">
                                                            <div align="right" style="color: white"><font color="#CC0000">(*)</font>Họ tên</div>
                                                        </td>
                                                        <td width="2%">&nbsp;</td>
                                                        <td width="70%">
                                                            <input id="name" name="first_name" class="box_input" size="35" value=""></td>
                                                    </tr>
                                                    <tr valign="top">
                                                        <td>
                                                            <div align="right" style="color: white">Địa chỉ </div>
                                                        </td>
                                                        <td>&nbsp;</td>
                                                        <td>
                                                            <input name="address" class="box_input" size="35" value=""></td>
                                                    </tr>
                                                    <tr valign="top">
                                                        <td>
                                                            <div align="right" style="color: white">Điện thoại </div>
                                                        </td>
                                                        <td>&nbsp;</td>
                                                        <td>
                                                            <input name="tel" class="box_input" size="35" value=""></td>
                                                    </tr>
                                                    <tr valign="top">
                                                        <td>
                                                            <div align="right" style="color: white"><font color="#CC0000">(*)</font>Email </div>
                                                        </td>
                                                        <td>&nbsp;</td>
                                                        <td>
                                                            <input id="email" name="email" class="box_input" size="35" value=""></td>
                                                    </tr>
                                                    <tr valign="top">
                                                        <td>
                                                            <div align="right" style="color:white"><font color="#CC0000">(*)</font>Chủ đề </div>
                                                        </td>
                                                        <td>&nbsp;</td>
                                                        <td>
                                                            <input id="title" name="title" class="box_input" id="title" size="35" value=""></td>
                                                    </tr>
                                                    <tr valign="top">
                                                        <td>
                                                            <div align="right" style="color:white"><font color="#CC0000">(*)</font>Nội dung chi tiết</div>
                                                        </td>
                                                        <td>&nbsp;</td>
                                                        <td>
                                                            <textarea id="message" name="message" cols="35" rows="6" wrap="VIRTUAL" class="box_area"></textarea></td>
                                                    </tr>
                                                    <tr valign="top">
                                                        <td height="65">&nbsp;</td>
                                                        <td>&nbsp;</td>
                                                        <td>
                                                            <input name="B1" id="submitBooking" class="submitbutton" value="  Gửi đi  " type="button">
                                                            <input name="op" value="contactform" type="hidden">
                                                            <input name="lang" value="vn" type="hidden">
                                                            <input name="slug" value="email-cho-chung-toi" type="hidden">
                                                            <img id="loading" style="display: none; margin-top: 10px; width: 100%" src="@Url.Content("~/images/sending.gif")" alt="" />
                                                            &nbsp;
                                                            <input name="B2" class="submitbutton" value="  Nhập lại  " type="reset"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <p>&nbsp; </p>
                                </tbody>

                            </table>
                        </form>
                    </div>
                    <div class="footer-1A" style="width: 45%; float: left; margin-top: 20px">
                        <ul>
                            <li>
                                <p>VIETSOVPETRO Resort</p>
                            </li>
                            <li><span>Địa chỉ: Xã Phước Thuận, Huyện Xuyên Mộc, Tỉnh Bà Rịa Vũng Tàu, Việt Nam</span></li>
                            <li><span>ĐT: (84.64) 3.782.266 - 67 - 68 - 69   Fax: @Resources.SR.ContactFax</span></li>
                            <li><span>Email: info@vietsovpetroresort.com</span></li>
                            <li><span>Website: www.vietsovpetroresort.com; www.vietsovpetroresort.vn</span></li>
                        </ul>
                    </div>
                    <div class="clearfix" style="height: 10px">&nbsp;</div>
                </div><!--tett-->
            </div><!--booking-->
        </div><!--in-booking-2-->
    </div><!--in-booking-1-->
</div><!--in-booking-->
<script language="javascript">
    function CheckFormMail() {
        with (document.FormName) {
            if (first_name.value == "") {
                alert("Mời bạn nhâp họ tên!");
                first_name.focus();
                return false;
            }

            if (email.value == "") {
                alert("Mời bạn nhập địa chỉ Email!");
                email.focus();
                return false;
            } else {
                if (email.value.indexOf("\@@") < 0 || email.value.indexOf(".") < 0) {
                    alert("Địa chỉ Email không hợp lệ!");
                    email.focus();
                    return false;
                }
            }

            if (title.value == "") {
                alert("Mời bạn nhập tiêu đề");
                title.focus();
                return false;
            }

            if (comments.value == "") {
                alert("Mời bạn nhập nội dung");
                comments.focus();
                return false;
            }
        }

        return true;
    }
</script>
