@{
    ViewBag.Title = "ChangePassword";
}


<div style="margin-top:10px;width:100%">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "changeform" }))
    {
        @Html.ValidationSummary(true, "Đăng nhập không thành công, vui lòng kiểm tra các lỗi và thử lại!")
        <div class="loginform">
            <div class="bar">
                Thay đổi mật khẩu</div>
            <div class="loginbody">
                <div style="height: 76px;">
                    <div class="editor-label">
                        Tài khoản:
                    </div>
                    <div class="editor-field">
                        <input class="k-textbox" id="UserName" name="UserName" value="@ViewBag.Username" style=" width:318px;" required validationmessage="Vui lòng nhập tài khoản" maxlength="50"/>
                    </div>
                    <div class="editor-label" style="margin-right: 5px;">
                        MK cũ:
                    </div>
                    <div class="editor-field">
                    <input class="k-textbox" id="OldPassword" name="OldPassword" type="password" style=" width:318px;" required validationmessage="Vui lòng nhập mật khẩu" maxlength="50"/> 
                    </div>
                    <div class="editor-label" style="margin-right: 5px;">
                        MK mới:
                    </div>
                    <div class="editor-field">
                    <input class="k-textbox" id="Password" name="Password" type="password" style=" width:318px;" required validationmessage="Vui lòng nhập mật khẩu" maxlength="50"/> 
                    </div>
                    <div class="editor-label" style="margin-right: 5px;">
                        Xác nhận:
                    </div>
                    <div class="editor-field">
                    <input class="k-textbox" id="PasswordConfirm" name="PasswordConfirm" type="password" style=" width:318px;" required validationmessage="Vui lòng xác nhận chính xác mật khẩu" maxlength="50"/> 
                    </div>
                </div>
                <label style="color: Red;width:280px;float:left">@ViewBag.Status</label>
                <div>
                    <input type="submit" value="Thay đổi" class="k-button" style="float: right; width: 100px;" />
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#menu").hide();
        $("#Password").addClass("k-textbox").css("width", "300px");
        $(".text-box").addClass("k-textbox").removeClass("text-box").css("width", "300px");
        $("#changeform").kendoValidator({
            rules: {
                verifyPasswords: function (input) {
                    var ret = true;
                    if (input.is("[name=PasswordConfirm]")) {
                        ret = input.val() === $("#Password").val();
                    }
                    return ret;
                }
            }
        });
    })
</script>
<style type="text/css">
    .editor-label
    {
        float: left;
        width: auto;
        margin: 5px;
    }
    .editor-field
    {
        float: left;
        width: 254px !important;
        margin: 5px;
    }
    .loginform
    {
        background-color: #f9f9f9;
        width: 388px;
        height: 300px;
        border-radius: 4px;
        padding: 15px;
        border: none;
        margin:auto;
    }
    .loginbody
    {
        width: 345px;
        height: 180px;
        background-color: white;
        border: 1px solid #CCCCCC;
        padding: 15px 20px 15px 20px;
    }
    .bar
    {
        width: 375px;
        height: 17px;
        background-color: #ebebeb;
        border: 1px solid #CCCCCC;
        border-bottom: none;
        padding: 10px 0 10px 10px;
        font-size: 14px;
    }
    .editor-field input
    {
        width: 240px !important;
    }
</style>
