@{
    ViewBag.Title = "Đăng nhập";
    var url = ViewBag.ReturnURL;
}

<div style="margin-top:10px;width:100%">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "Đăng nhập không thành công, vui lòng kiểm tra các lỗi và thử lại!")
        <input type="hidden" id="ReturnURL" name="ReturnURL" value="@url"/>
        <div class="loginform">
            <div class="bar">
                Đăng nhập</div>
            <div class="loginbody">
                <div style="height: 76px;">
                    <div class="editor-label">
                        Tài khoản:
                    </div>
                    <div class="editor-field">
                        <input class="k-textbox" id="UserName" name="UserName" value="@ViewBag.Username" style=" width:318px;" required validationmessage="Vui lòng nhập tài khoản" maxlength="50"/>
                    </div>
                    <div class="editor-label" style="margin-right: 5px;">
                        Mật khẩu:
                    </div>
                    <div class="editor-field">
                    <input class="k-textbox" id="Password" name="Password" type="password" style=" width:318px;" required validationmessage="Vui lòng nhập mật khẩu" maxlength="50"/> 
                    </div>
                </div>
                <div style="height: 40px;">
                    <input type="checkbox" id="Remember"  name="Remember" style="float: left; margin-left: 85px;" />
                    Ghi nhớ ?
                </div>
                <label style="color: Red;width:280px;float:left">@ViewBag.Status</label>
                <div>
                    <input type="submit" value="Đăng nhập" class="k-button" style="float: right; width: 100px;" />
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#menu").hide();
        $("#Password").addClass("k-textbox").css("width", "300px");
        $(".text-box").addClass("k-textbox").removeClass("text-box").css("width", "300px");
        var validator = $("#loginform").kendoValidator().data("kendoValidator");
        if ($(".loginform").attr("visible") == "false") {
            $(".loginbody").html("<label style='color: Red;float:left'>Bạn đã đăng nhập sai 3 lần, khung đăng nhập tự động khóa!</label>");
        }
    })
</script>
<style type="text/css">
    .editor-label
    {
        float: left;
        width: auto;
        margin: 5px;
    }
    .editor-field
    {
        float: left;
        width: 254px !important;
        margin: 5px;
    }
    .loginform
    {
        background-color: #f9f9f9;
        width: 388px;
        height: 218px;
        border-radius: 4px;
        padding: 15px;
        border: none;
        margin:auto;
    }
    .loginbody
    {
        width: 345px;
        height: 147px;
        background-color: white;
        border: 1px solid #CCCCCC;
        padding: 15px 20px 15px 20px;
    }
    .bar
    {
        width: 375px;
        height: 17px;
        background-color: #ebebeb;
        border: 1px solid #CCCCCC;
        border-bottom: none;
        padding: 10px 0 10px 10px;
        font-size: 14px;
    }
    .editor-field input
    {
        width: 240px !important;
    }
</style>
