@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFO.cshtml";
}

<div class="homeFlash" style=" height:559px;">
            <iframe src="http://vipd.vn/Images/virtualTour/HomePage/Vietsovptro_Homepage.html" style="width:100%; height:100%; display:block; border:none"></iframe>
</div>
